#topBanner {
    position: fixed;
    top: 0;
    width: 100%;
    height: 50px;
    background-color: #f8d7da;
    color: #721c24;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
	z-index: 696969;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#topBanner p {
    margin: 0;
}

#closeButton {
    background-color: transparent;
    border: none;
	margin-right: 20px;
    color: #721c24;
    font-size: 20px;
    cursor: pointer;
}

#overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(64, 64, 64, 0.7); /* Darker semi-transparent gray */
    z-index: 696968;
}